.centralizar {
  display: flex;
  justify-content: center;
}

.container__content {
  height: 100%;
  margin-top: 10px;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.content__cover img {
  border: 5px solid #8d8d8d;
  width: 500px;
  height: 300px;
  min-height: 300px;
  border-radius: 5px;
}

.content__description {
  margin-top: 15px;
}

.content__description p {
  color: #b1b1b1;
  margin-bottom: 20px;
}