@media screen and (max-width: 700px) {
  .centralizar {
    width: 100%;
    display: flex;
    justify-content: center;

  }

  .container__content {
    max-width: 350px;
    display: flex;

    flex-direction: column;
    align-items: center;
    padding: 15px 0;

  }

  .content__cover img {
    width: 100%;
    border: 5px solid #8d8d8d;
    height: 250px;
    min-height: 250px;
    border-radius: 5px;
  }

  .content__title {
    font-size: 14px;
    display: flexbox;
    /* align-items: center; */
    justify-content: center;
  }

  .content__description {
    margin-top: 15px;
  }

  .content__description p {
    color: #b1b1b1;
    margin-bottom: 20px;
  }

}